@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;900&family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: black;
}

/*NAV---------------------*/

nav {
    padding: 3rem;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    transition-property: transform;
    transition-duration: .2s;
}

nav ul a:hover {
    transform: translateY(-5px);
    font-weight: 900;
}

/*MAIN .....................  */

#background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

main {
    padding-top: 14rem;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: space-around;
    font-size: 5rem;
}

.second-title {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10rem;
    grid-gap: 2rem;
}

.second-title p {
    margin: auto;
}

.flecha {
    margin: auto;
    font-size: 2rem;
}

.flecha a {
    color: #fff;
    display: inline-block;

}

@keyframes wobble-vertical {
	16.65% {
		transform: translateY(8px);
	}

	33.3% {
		transform: translateY(-6px);
	}

	49.95% {
		transform: translateY(4px);
	}

	66.6% {
		transform: translateY(-2px);
	}

	83.25% {
		transform: translateY(1px);
	}

	100% {
		transform: translateY(0);
	}
}

.flecha a:hover {
    animation-name: wobble-vertical;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

/*INFORMATION---------------------*/

#info {
    background-color: black;
    height: 100vh;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.side-information {
    width: 35rem;
}

.side-information h3 {
    font-size: 10rem;
    width: 30rem;
    padding-bottom: 1rem;
}

.side-information p {
    margin: 1rem auto;
}

.earth img {
    max-width: 36rem;
}



/* DANGER ZONE -------------------*/


#danger-zone {
    height: 100vh;
    width: 100%;
    padding: 5rem;
    background: rgb(0,79,77);
    background: linear-gradient(0deg, rgba(0,79,77,1) 0%, rgba(0,0,0,1) 100%);
    background-image: url("bajo-elagua.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
}

.section-title {
    text-align: center;
    padding-bottom: 2rem;
}

.section-title h3 {
    font-size: 5rem;
}

.section-title p {
    margin: 1rem auto 0 auto;
    width: 30rem;
}


.ocean__issues {
    display: grid;
    height: 28rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2.5rem;
    margin: auto;
}

.ocean__issues-item {
    width: 20rem;
    display: inline-block;
    padding: 1.4rem;
    justify-content: flex-start;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, .5);
    border-radius: 10px;
    transition-duration: .2s;
    backdrop-filter: blur(10px);
}

.ocean__issues-item:hover {
    box-shadow: 0px 5px 25px 0px rgba(225, 225, 225, .9);
}

.ocean__issues-item img {
    width: 100%;
    height: 45%;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 3px;
}

.ocean__issues-item h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


/*ARROW UP --------------------*/
.go-up {
    margin: 3rem;
    position: fixed;
    right: 0;
    bottom: 0;
    display: inline-block;
}


.go-up a {
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
}

.go-up a:hover {
    animation-name: wobble-vertical;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

/*FOOTER ------------------------ */

footer {
    height: 15vh;
    display: flex;
    padding: 5rem;
    justify-content: space-between;
    align-items: center;
}

.social a {
    color: #fff;
    font-size: 2rem;
    margin: 1rem;
}


/*MEDIA QUERIES -------------------------------*/


@media (max-width: 600px) {



    /*NAV---------------------*/

    nav {
        padding: 1rem;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }

    nav ul a {
        color: #fff;
        text-decoration: none;
        font-size: 0.8rem;
        display: inline-block;
        transition-property: transform;
        transition-duration: .2s;
    }

    nav ul a:hover {
        transform: translateY(-5px);
        font-weight: 900;
    }


    /*MAIN .....................  */

    #background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    main {
        padding-top: 14rem;
        height: 100vh;
        width: 100vw;
    }

    .title {
        display: flex;
        justify-content: space-around;
        font-size: 1.5rem;
    }

    .second-title {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 12rem;
        grid-gap: 1rem;
        font-size: .8rem;
    }

    .second-title p {
        margin: auto;
        font-size: 0.8rem;
    }

    .flecha {
        margin: auto;
        font-size: 1rem;
    }

    .flecha a {
        color: #fff;
        display: inline-block;

    }


    /*INFORMATION---------------------*/

    #info {
        background-color: black;
        height: 100vh;
        width: 100%;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin: auto;
    }

    .side-information {
        width: 90vw;
        margin: auto;
    }

    .side-information h3 {
        font-size: 3rem;
        padding-bottom: 1rem;
        width: 100%;
    }

    .side-information p {
        margin: 1rem auto;
        font-size: 0.8rem;
    }

    .earth {
        display: flex;
    }

    .earth img {
        width: 250px;
        margin: auto;
    }



    /* DANGER ZONE -------------------*/


    #danger-zone {
        height: 110vh;
        width: 100%;
        padding: 1rem;
        background-image: url("danger-zone.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .section-title {
        text-align: center;
    }

    .section-title h3 {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }

    .section-title p {
        margin: 0 auto;
        width: 90%;
        font-size: 0.8rem;
    }


    .ocean__issues {
        display: grid;
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 0.8rem;
        margin: 1rem auto;
    }

    .ocean__issues-item {
        width: auto;
        display: inline-block;
        padding: 1.2rem 1rem;
        justify-content: flex-start;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, .2);
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
        transition-duration: .2s;
        backdrop-filter: none;
    }

    .ocean__issues-item:hover {
        box-shadow: 0px 5px 25px 0px rgba(225, 225, 225, .9);
    }

    .ocean__issues-item img {
        width: 100%;
        height: 45%;
        margin: auto;
        margin-bottom: 0.8rem;
        border-radius: 3px;
    }

    .ocean__issues-item h4 {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .ocean__issues-item p {
        font-size: 0.6rem;
    }

    /*ARROW UP --------------------*/


    .go-up {
        position: fixed;
        display: inline-block;
        bottom: 0;
        right: 0;
        margin: 1rem 2rem;
        width: 20px;
    }

    .go-up a {
        color: #fff;
        text-decoration: none;
        font-size: 2.5rem;
        display: inline-block;
    }

    .go-up a:hover {
        animation-name: wobble-vertical;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
    }


    /*FOOTER ------------------------ */

footer {
    height: 15vh;
    display: grid;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr;
}

.social {
    margin: auto;
}

.social a {
    color: #fff;
    font-size: 2rem;
    margin: 0.3rem;
}

.me {
    font-size: 0.6rem;
    margin: auto;
}




}